.num {
	FONT-SIZE: 3vw;
	WIDTH: 5vw;

	COLOR: #afafaf;
	FONT-FAMILY: Arial;
	TEXT-ALIGN: right
}
.symbols {
	FONT-SIZE: 5vw;
	COLOR: #ffffff;
	BACKGROUND: #000;
	WIDTH: 7vw;
	HEIGHT: 7vw;
	FONT-FAMILY: wingdings;
	TEXT-ALIGN: center
}
.viewsymbol {
	FONT-SIZE: 10vw;
	BACKGROUND: #000;
	WIDTH: 10vw;
	TEXT-ALIGN: center;
	COLOR: #f1f1f1;
	FONT-FAMILY: wingdings;
	HEIGHT: 10vw;
}